[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sphinx-php = {git = "https://github.com/fabpot/sphinx-php.git"}
sphinx-rtd-theme = "==1.0.0"
sphinxcontrib-spelling = "==7.2.0"
pyenchant = "~=3.2.1"
docutils = "==0.17"
Sphinx = "~=4.2.0"

[requires]
python_version = "3.7"
